:root {
    --itemradius: calc(0.3vw + 0.3vh)
}
.item {
    width: 27vw;
    float: left;
    display: flex;
    height: 23vw;
    color: white;
    background-color: #000;
    border-radius: var(--itemradius);
}
.item .topBar {
    border-radius: var(--itemradius) 0 0;
    min-width: 27vw;
    position: absolute;
    height: 5vw;
    background-color: #121212;

    border-bottom: solid 10px;
}
.item .title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Comfortaa', cursive;
    font-size: calc(2vh + 2vw);
    text-align: center;
}