@keyframes bg {
        0% {
            opacity: 0
        }
        60% {
            opacity: 0
        }
        80% {
            opacity: 1
        }
}
.bg {
    z-index: 4;
    opacity: 100;
    background-image: url('https://thuwd-cdn.b-cdn.net/bg.jpg');
    position: absolute;
    width: 100%;
    height: 100%;
    animation: bg 13s;
    background-size: cover;
    top:0;
}