@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.Main {
    display: flex;
    height: 100%;
    font-size: 20vh;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    
    justify-content: center;
  }
  .hello {
    transition: opacity 1s;
    color: white;
    justify-content: center;
    align-self: center;
  }
  