.main-container {
    position: absolute;
    bottom: -3vh;
}
.main {
    text-align: center;
    position: relative;
    color: white;
}
.main section {
    width: 100vw;
    text-align: center;
    margin: auto;
}