@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
 .projects {
    height: 100%;
    width: 75vw;
};
 .projects .item {
    width: 27vw;
    display: flex;
    height: 23vw;
    color: white;
    background-color: #000;
    border-radius: calc(1vw + 1vh);
};
.projects .item .topBar {
    border-radius: calc(1vw + 1vh) calc(1vw + 1vh) 0 0;
    min-width: 27vw;
    position: static;
    z-index: 3;
    height: 5vw;
    background-color: #121212;
};
.projects .item .title {
    display: flex;
    position: absolute;
    font-family: 'Comfortaa', cursive;
    top: 50%;
    font-size: calc(2vh + 2vw);
};